extends layout

block content
  h1 Library App
  p Welcome to #[strong Library App], an application built on Express to digitize the process of registering and borrowing books in libraries.
  h2 User Guide
  p Guest users can browse the website without the need to login/signup. But in order to borrow or return books a user must be registered in the system and need to stay logged in.
  p There's also a special type of users #[admin], who can add, update and delete contents from the library.
  p For demonstration purpose you can checkout a general user experience using credentials #[i #[strong email: "b@b.com", password: "b"]]. For admin account use #[i #[strong email: "a@a.com", password: "a"]].
  h1 Contents

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Books:] !{data.book_count}
      li #[strong Copies:] !{data.book_instance_count}
      li #[strong Copies available:] !{data.book_instance_available_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}
